<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Message App</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>


<div class="article-teaser"></div>

<div class="header">
    <h1>Die Nachrichten</h1>

</div>

<div class="navbar">
    <ul>
    <li><a href="#">Platzhalter 1</a></li>
        <li> <a href="#">Platzhalter 2</a></li>
        <li> <a href="#">Platzhalter 3</a></li>
    </ul>
</div>

<div class="Slider">
    <img src="https://via.placeholder.com/800x200" onclick="window.location.href='/article/a'">

</div>

<div class="datePublished"></div>




{{{body}}}

</body>
</html>
